{{ define "main" }}

<section class="top-intro">
  <p class="top-intro-text">
    <br>AIがTOEIC学習の効率を最大化！<br>
    スコアアップの最短ルート🚀<br>
    ブックマークを忘れずに♪<br>
  </p>
</section>

<section class="top-search">
  <div class="top-search-inner">
    <input
      type="text"
      id="searchBox"
      placeholder="何を調べますか？"
      inputmode="latin"
      autocomplete="off"
      autocapitalize="none"
      spellcheck="false"
    />
    <ul id="resultsList"></ul>
  </div>
</section>

<hr>

<section class="top-counts">
  <div class="top-counts-inner">
    <h2 class="top-counts-title">📊 カテゴリ別の記事数</h2>
    <ul>
      <li>英単語： {{ len (where site.RegularPages "Section" "word") }} 記事。続々更新中！</li>
      <li>長文読解： Coming Soon!</li>
    </ul>
    （{{ now.Format "2006年1月2日" }} 更新）
  </div>
</section>

<hr>

<section class="top-tags">
  <div class="top-tags-inner">
    <h2 class="top-tags-title">🏷️タグから探す</h2>
    <div class="tag-grid">
      {{ $terms := site.Taxonomies.tags }}
      {{ range $key, $value := $terms }}
        <div class="tag-item">
          <a href="{{ $value.Page.RelPermalink }}">{{ $value.Page.Title }}（{{ len $value }}語）</a>
        </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
